body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin: 0;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

ul {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    font-size: 16px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    section {
        margin: 10px;
        padding: 10px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated {
    animation: fadeIn 1s ease-in;
}

/* Estilos para pantallas grandes (por defecto) */
.imagen-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para pantallas pequeñas (como dispositivos móviles) */
@media screen and (max-width: 768px) {
    .imagen-container {
        flex-direction: column; /* Cambia la dirección del flujo a columna */
    }
}
